body {
    background-color: #eee;
}

.face {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border-radius: 100%;
    border: solid 2px black;
}

.eye {
    width: 6px;
    height: 6px;
    border: solid 1px black;
    position: relative;
    background-color: white;
    border-radius: 3px;
}

.left {
    left: 23px;
    top: 23px;
}

.right {
    left: 50px;
    top: 17px
}

.mouth {
    width: 30px;
    height: 10px;
    border-radius: 0 0 45px 45px;
    top: 31px;
    left: 23px;
    position: relative;
    background-color: black;
}